<div class="row gx-5">
    <div class="col p-5">
        <h2>A comprehensive platform for reliable</h2>
        <h4>job opportunities and internships.</h4>
        <p>Get Discovered, Get Hired.</p>
        <a href="/jobs"><button type="submit" class="btn btn-primary">I'm a job seeker</button></a>
        <% if(locals.user) {%> <a href="/jobs"><button type="submit" class="btn btn-primary" >I'm a recuiter</button></a> <% } else {%>
            <a href="/register"><button type="submit" class="btn btn-primary" >I'm a recuiter</button></a> <% } %>
    </div>
    <div class="col">
        <img src="https://static.vecteezy.com/system/resources/previews/007/938/811/original/concept-illustration-specialists-choosing-best-candidate-for-job-profiles-of-various-people-with-ranking-company-searching-new-employee-recruitment-process-flat-cartoon-style-free-vector.jpg" alt="home-img" style="height: 350px; width: 400px">
    </div>
</div>